body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  /* height: 100vh; */
  /* width: calc(100% - 33px); */
  font-family: "Open Sans", sans-serif;
}

canvas {
  position: absolute;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* margin-top: 10px; */
}

.result-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  font-size: 25px;
  font-weight: lighter;
}

#emotion {
  color: #ff676d;
}

#gender {
  color: #ff8992;
}

#age {
  color: #ffacb7;
}

video {
  /* width: 100%; */
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  font: 1.8em "Open Sans", sans-serif;
  font-weight: 600;
  padding-top: 50px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #bbbbbb;
  width: 100%;
  font: 0.9em "Open Sans", sans-serif;
  padding: 20px;
}

a {
  color: #bbbbbb;
  font: 0.9em "Open Sans", sans-serif;
  text-decoration: underline;
}
